html, body {
    background-color: #141314;
}

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
    padding: 0;
}

/* Carousel css */

.mask-bg {
    height: 500px;
    margin: 0;
    padding: 0;
}

.mask-content-bg {
    background-color: rgba(220, 220, 220, 0.5);
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50px;
    height: 500px;
    margin-top: 0;
}

.carousel {
    display: flex;
}

.carousel-container {
    overflow: hidden;
    width: 720px;
    height: 500px;
}